<div class="footer">
  <div class="footer-top">
    <div class="logo-networks">
      <div class="logo">
        <div class="logo-icon">
          <img src="assets/images/logo/market-logo.svg">
        </div>
        <div class="name">
          <div class="name-element">SHOES</div>
          <div class="name-element right">_MARKET</div>
        </div>
    </div>
      <div class="networks">
        <div class="networks-element">
          <img src="assets/images/footerElements/Networks/FB.svg" alt="white">
        </div>
        <div class="networks-element">
          <img src="assets/images/footerElements/Networks/Linkedin.svg" alt="white">
        </div>
        <div class="networks-element">
          <img src="assets/images/footerElements/Networks/Instagram.svg" alt="white">
        </div>
        <div class="networks-element">
          <img src="assets/images/footerElements/Networks/You%20tube.svg" alt="white">
        </div>
        <div class="networks-element">
          <img src="assets/images/footerElements/Networks/Behance.svg" alt="white">
        </div>
      </div>
    </div>
    <div class="contacts">
      <div class="contact-item">
        <div class="type">
            <img src="assets/images/footerElements/phone.svg" alt="white">
            <div class="type-text">
              Моб. телефон
            </div>
        </div>
        <div class="contact-information">
          +380 54 321 54 54
        </div>
      </div>
      <div class="contact-item">
        <div class="type">
          <img src="assets/images/footerElements/email.svg" alt="white">
          <div class="type-text">
            E-mail
          </div>
        </div>
        <div class="contact-information">
          hallo@gmail.com
        </div>
      </div>
      <div class="contact-item">
        <div class="type">
          <img src="assets/images/footerElements/location.svg" alt="white">
          <div class="type-text">
            Адресса
          </div>
        </div>
        <div class="contact-information">
          М. Бучач, вул Дорошенка 4а
        </div>
      </div>
      <div class="contact-item">
        <div class="type">
          <img src="assets/images/footerElements/vector.svg" alt="white">
          <div class="type-text">
            Графік
          </div>
        </div>
        <div class="contact-information">
          Пн-Пт: 9:00-18:00,<br>
          Сб,Нд - вихідні
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="footer-bottom">
    <div class="info">
      <div class="info-item">
        <div class="type">
          <img src="assets/images/footerElements/cargo.svg" alt="white">
          <div class="type-text">
            Доставка
          </div>
        </div>
        <div class="information">
          У відділенні нової пошти<br>
          Кур'єром МістЕкспрес
        </div>
        <div class="photos">
          <img src="assets/images/footerElements/Logo-1%201.svg" alt="white">
          <img src="assets/images/footerElements/Mist-Express%201.svg" alt="white">
        </div>
      </div>
      <div class="info-item">
        <div class="type">
          <img src="assets/images/footerElements/paimant-icon.svg" alt="white">
          <div class="type-text">
            Оплата
          </div>
        </div>
        <div class="photos">
          <img src="assets/images/footerElements/visa.svg" alt="white">
          <img src="assets/images/footerElements/masterCard.svg" alt="white">
        </div>
      </div>
    </div>
    <div class="privacy-policy">
      <div class="ovner">
        Виготовлено на замовлення: <u>Andrew by</u>
      </div>
      <div class="policy">
        <div class="date">
           2023
        </div>
        <div class="line"></div>
        <div class="policy">
          <u>Політки конфіденційності</u>
        </div>
      </div>
    </div>
  </div>
</div>
