<div class="market-header">
  <div class="navigation-top">
    <div class="logo">
      <div class="logo-icon">
        <img src="assets/images/logo/market-logo.svg">
      </div>
      <div class="name">
        <div class="name-element">SHOES</div>
        <div class="name-element right">_MARKET</div>
      </div>
    </div>
    <div class="menu">
      <div class="menu-item">асортимент</div>
      <div class="menu-item">відгуки</div>
      <div class="menu-item">контакти</div>
    </div>
    <div *ngIf="(securityService.isAuthenticated$ | async)===true" class="user-info">
      <div class="user-info-element">
        <img src="assets/images/headerElements/user.svg" alt="white">
      </div>
      <div class="user-info-element basket" (click)="basketClick()">
        <img src="assets/images/headerElements/iocn-cart.svg" alt="white">
        <div class="circle" *ngIf="false">
          <div class="count">
            2
          </div>
        </div>
        <div class="money" *ngIf="false">8439₴</div>
      </div>
      <div class="user-info-element">
        <img src="assets/images/headerElements/logout.png" alt="white" (click)="loguot()">
        <div class="circle"  *ngIf="false">
          <div class="count">
            2
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(securityService.isAuthenticated$ | async)===false" class="user-info">
      <div class="user-info-element">
        <i class="pi pi-sign-in my-icon" (click)="loginClick()"></i>
      </div>
      <div class="user-info-element">
        <i class="pi pi-user-plus my-icon" (click)="registerClick()" ></i>
      </div>

    </div>
  </div>
  <div class="navigation-bottom">
    <div class="number">
      <div class="number-icon">
        <img src="assets/images/headerElements/call.svg" alt="white">
      </div>
      <div class="number">+380 54 321 54 54</div>
    </div>
    <div class="search">
      <input type="text" placeholder="Пошук">
      <div class="search-icon">
        <img src="assets/images/headerElements/icon-search.svg" alt="white">
      </div>
    </div>
  </div>
</div>
