<div class="register-container">
  <div class="cross" (click)="close()">
    ✕
  </div>
  <div class="name">
   Створити Акаунт
  </div>
  <div class="networks-authenticate">
    <div class="network">
      <img src="assets/images/registerElements/Google__G__Logo%201.svg" alt="">
      <div class="text">
        Login with google
      </div>
    </div>
    <div class="network">
      <img src="assets/images/registerElements/Facebook.svg" alt="">
      <div class="text">
        Login with facebook
      </div>
    </div>
  </div>
  <div class="or-label">
      --або--
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="reg-form">
    <div class="form-container">
      <input formControlName="Email" type="text" pInputText placeholder="Email" class="p-inputted">
      <input formControlName="Firstname" type="text" pInputText placeholder="Ім'я">
      <input formControlName="Lastname" type="text" pInputText placeholder="Прізвище">
      <input formControlName="Number" type="text" pInputText placeholder="Номер">
      <input formControlName="Password" type="password" pInputText placeholder="Пароль">
      <div class="field-checkbox">
        <p-checkbox name="group1" value="true"  inputId="sf" formControlName="isSeller"></p-checkbox>
        <label>Зареєструватися як продавець</label>
      </div>
      <button pButton pRipple type="submit" label="Створити акаунт" class="p-button-raised"></button>
    </div>
  </form>
</div>



