@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200&display=swap');
.register-container {

  position: relative;
  display: flex;
  flex-direction: column;
  width: 900px;
  align-items: center;
  padding: 60px 100px;
  align-items: stretch;
  gap:35px;
  background-color: #FFFFFF;
  .cross {
    position: absolute;
    right: 25px;
    top: 25px;

  }
  & .cross:hover{
    cursor: pointer;
  }

  .name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    letter-spacing: 0.05em;
  }

  .networks-authenticate {
    display: flex;
    justify-content: space-between;
    .network{
      background: rgba(118, 155, 193, 0.05);
      border: 1px solid rgba(168, 160, 160, 0.5);
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap:24px;
      padding: 16px 32px;
      .text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */

        letter-spacing: 0.05em;

        color: #C4C4C4;

      }
    }
  }

  .or-label {
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.05em;

    color: #C4C4C4;
  }

  .reg-form {
    .form-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        padding-bottom: 3px;
        margin: 2px;
        box-shadow: none !important;
        border-radius: 0;


        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 42px;

        width: 80%;

        letter-spacing: 0.05em;

        color: #C4C4C4;
        input::placeholder {
          color: #C4C4C4;
        }
      }
      .field-checkbox{
        width: 80%;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 42px;
        padding-left: 5px;
        margin:15px 0;
        display: flex;
        color: #C4C4C4;
        align-items: center;
        p-checkbox{
          padding-right: 5px;
        }
      }
      button{
        width: 45%;
        margin-right: 10%;
        align-self:end;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;


        text-align: center;

        color: #FFFFFF;

      }

    }

  }
}
